/* Common styles for all pages */ 
 
body { 
    font-family: 'Times New Roman', Times, serif; 
    margin: 0; 
    padding: 0; 
    /* background-color: black;  */
     background-image: linear-gradient(
    180.7deg,
    rgba(11, 47, 159, 1) -28.8%,
    rgba(199, 255, 216, 1) 95.4%
  );
} 
 
nav { 
    /* background-color: #1d00f6;  */
     background-image: linear-gradient(
    91.7deg,
    rgba(231, 246, 111, 1) 6.9%,
    rgba(248, 126, 197, 1) 49%,
    rgba(108, 114, 241, 1) 90%
  );
    color: #fff; 
    padding: 10px; 
      margin: 10px 100px;
  border-radius: 20px;
  text-align: center;
  border: 2px ridge rgb(252, 6, 162);
} 
 
nav ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
} 
 
nav ul li { 
    display: inline; 
    margin-right: 10px; 
} 
 
nav ul li a { 
    color: #fff; 
    text-decoration: none; 
} 
 
.container { 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 0 20px; 
    text-align: center; 
} 
 
nav ul li a { 
    color: #fff; 
    text-decoration: none; 
    padding: 0 10px; /* Add padding to create space */ 
    border-right: 1px solid #fff; /* Add border to create a line */ 
    transition: opacity 0.3s; /* Add transition for smooth effect */ 
} 
nav ul li:last-child a { 
    border-right: none; /* Remove border from the last link */ 
} 
 
nav ul li a:hover { 
    opacity: 0.7; /* Change opacity on hover */ 
} 
 
.academic-info1 { 
    background-color: #ff00e1; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.academic-info2 { 
    background-color: #00bfff; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.academic-info3 { 
    background-color: #ffee00; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
 
.academic-info1 h2,.academic-info2 h2,.academic-info3 h2 { 
    color: #333; 
    margin-bottom: 10px; 
} 
 
.academic-info1 p,.academic-info2 p,.academic-info3 p { 
    color: #666; 
    margin-bottom: 5px; 
} 
.academic-info1 p strong,.academic-info2 p strong,.academic-info3 p strong { 
    color: #333; 
} 
.academic-info1:hover,.academic-info2:hover,.academic-info3:hover{ 
    transform: translateY(-5px); 
} 
/* Responsive styling */ 
@media only screen and (max-width: 768px) { 
    .profile-pic { 
        width: 120px; /* Reduce width for smaller screens */ 
        height: 160px; /* Reduce height for smaller screens */ 
    } 
    .objective { 
        max-width: 80%; /* Adjust maximum width for smaller screens */ 
    } 
}