/* Common styles for all pages */ 
 
body { 
    font-family: 'Times New Roman', Times, serif; 
    margin: 0; 
    padding: 0; 
    /* background-color:black;  */

    color: white; 
     background-image: linear-gradient(
    180.7deg,
    rgba(11, 47, 159, 1) -28.8%,
    rgba(199, 255, 216, 1) 95.4%
  );
} 
 
nav { 
    /* background-color: #3b01fc;  */
     background-image: linear-gradient(
    91.7deg,
    rgba(231, 246, 111, 1) 6.9%,
    rgba(248, 126, 197, 1) 49%,
    rgba(108, 114, 241, 1) 90%
  );
    color: #fff; 
    padding: 10px; 
      margin: 10px 100px;
  border-radius: 20px;
  text-align: center;
  border: 2px ridge rgb(252, 6, 162);
} 
 
nav ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
} 
 
nav ul li { 
    display: inline; 
    margin-right: 10px; 
} 
 
nav ul li a { 
    color: #fff; 
    text-decoration: none; 
} 
nav ul li a { 
    color: #fff; 
    text-decoration: none; 
    padding: 0 10px; /* Add padding to create space */ 
    border-right: 1px solid #fff; /* Add border to create a line */ 
    transition: opacity 0.3s; /* Add transition for smooth effect */ 
} 
nav ul li:last-child a { 
    border-right: none; /* Remove border from the last link */ 
} 
 
nav ul li a:hover { 
    opacity: 0.7; /* Change opacity on hover */ 
} 
 
.container { 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 0 20px; 
    text-align: center; 
    color: white; 
    /* background-color: black;  */
} 
 
.interest1 { 
    background-color: #6cf7e7; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.interest2 { 
    background-color: #60e98e; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.interest3 { 
    background-color:thistle; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.interest4 { 
    background-color:chocolate; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.interest5 { 
    background-color:yellow; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
/* Add more styles for project-info4, project-info5, etc. as needed */ 
 
.interest1 h2, .interest2 h2, .interest3 h2, .interest4 h2, .interest5 h2 { 
    color: #333; 
    margin-bottom: 10px; 
} 
.interest1 p, .interest2 p, .interest3 p, .interest4 p, .interest5 p { 
    color: #666; 
    margin-bottom: 5px; 
} 
.interest1:hover,.interest2:hover,.interest3:hover,.interest4:hover,.interest5:hover{ 
    transform: translateY(-5px); 
} 