body { 
    font-family: 'Times New Roman', Times, serif; 
    margin: 0; 
    padding: 0; 
    background-color: black; 
} 
 
nav { 
    background-color: #1d00f6; 
    color: #fff; 
    padding: 10px; 
      margin: 10px 100px;
  border-radius: 20px;
  text-align: center;
  border: 2px ridge rgb(252, 6, 162);
} 
 
nav ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
} 
 
nav ul li { 
    display: inline; 
    margin-right: 10px; 
} 
 
nav ul li a { 
    color: #fff; 
    text-decoration: none; 
} 
 
.container { 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 0 20px; 
    text-align: center; 
} 
 
nav ul li a { 
    color: #fff; 
    text-decoration: none; 
    padding: 0 10px; /* Add padding to create space */ 
    border-right: 1px solid #fff; /* Add border to create a line */ 
    transition: opacity 0.3s; /* Add transition for smooth effect */ 
} 
nav ul li:last-child a { 
    border-right: none; /* Remove border from the last link */ 
} 
 
nav ul li a:hover { 
    opacity: 0.7; /* Change opacity on hover */ 
} 
 
.internship-info1 { 
    background-color: #17ed08; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.internship-info2 { 
    background-color: #e2f35e; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.internship-info3 { 
    background-color: #0aafeb; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.internship-info4 { 
    background-color: #eb0ac9; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.internship-info5 { 
    background-color: #0aeba8; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
 
.internship-info1 h2,.internship-info2 h2 ,.internship-info3 h2,.internship
info4 h2,.internship-info5 h2{ 
    color: #333; 
    margin-bottom: 10px; 
} 
 
.internship-info1 p,.internship-info2 p,.internship-info3 p,.internship-info4 
p,.internship-info5 p { 
    color: #666; 
    margin-bottom: 5px; 
} 
 
/* Responsive styling */ 
@media only screen and (max-width: 768px) { 
    .profile-pic { 
        width: 120px; /* Reduce width for smaller screens */ 
        height: 160px; /* Reduce height for smaller screens */ 
    } 
 
    .objective { 
        max-width: 80%; /* Adjust maximum width for smaller screens */ 
    } 
} 