/* Common styles for all pages */ 
 
body { 
    font-family: 'Times New Roman', Times, serif; 
    margin: 0; 
    padding: 0; 
    background-color: black; 
} 
nav { 
    background-color: #1d00f6; 
    color: #fff; 
    padding: 10px; 
     margin: 10px 100px;
  border-radius: 20px;
  text-align: center;
  border: 2px ridge rgb(252, 6, 162);
} 
nav ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
} 
nav ul li { 
    display: inline; 
    margin-right: 10px; 
} 
nav ul li a { 
    color: #fff; 
    text-decoration: none; 
} 
.container { 
    max-width: 800px; 
    margin: 20px auto; 
    padding: 0 20px; 
    text-align: center; 
} 
nav ul li a { 
    color: #fff; 
    text-decoration: none; 
    padding: 0 10px; /* Add padding to create space */ 
    border-right: 1px solid #fff; /* Add border to create a line */ 
    transition: opacity 0.3s; /* Add transition for smooth effect */ 
} 
nav ul li:last-child a { 
    border-right: none; /* Remove border from the last link */ 
} 
nav ul li a:hover { 
    opacity: 0.7; /* Change opacity on hover */ 
} 
.skill-category1 { 
    background-color:cyan; 
    color: #fff; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.skill-category2 { 
    background-color:yellowgreen; 
    color: #fff; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.skill-category3 { 
    background-color:plum; 
    color: #fff; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.skill-category4 { 
    background-color:powderblue; 
    color: #fff; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.skill-category5 { 
    background-color:darkorange; 
    color: #fff; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
} 
.skill-category1 h2,.skill-category2 h2,.skill-category3 h2,.skill-category4 
h2,.skill-category5 h2 { 
    color:rgb(0, 0, 0); 
    margin-bottom: 10px; 
    text-decoration: underline; 
} 
.skill-category1 ul,.skill-category2 ul,.skill-category3 ul,.skill-category4 
ul,.skill-category5 ul { 
    list-style-type: none; 
    padding: 0; 
} 
.skill-category1 ul li,.skill-category2 ul li,.skill-category3 ul li,.skill
category4 ul li,.skill-category5 ul li { 
    color: #000000; 
    margin-bottom: 5px; 
} 
/* Responsive styling */ 
@media only screen and (max-width: 768px) { 
    .profile-pic { 
        width: 120px; /* Reduce width for smaller screens */ 
        height: 160px; /* Reduce height for smaller screens */ 
    } 
    .objective { 
        max-width: 80%; /* Adjust maximum width for smaller screens */ 
    } 
} 